<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <% include partials/navbar.ejs %>
    <% include partials/sidebar.ejs %>

    <!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">ABOUT US</h3>
  <p class="w3-center w3-large">Started in 2017, SecureElite are <b>best of breed market leaders</b> in web security software solutions and consultancy. We are constantly <b>redefining the paradigm</b> on corporate security and asset protection.</p>
  
  <p class="w3-center w3-large">Based in Sydney Australia, our international and award winning team of elite security experts is passionate about security and client satisfaction. Our client base covers industries such as investment banking, law, public utilities and retail and supply chain management.</p>

  <p class="w3-center w3-large">Our highly qualified staff and consultants and software solutions have an enviable track record of meeting and exceeding customer goals and enhancing security and quality processes. We can bring that history of success to you.</p>

  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Responsive</p>
      <p>We are fast and committed to meeting and exceeding our clients' needs at the shortest time and most attractive cost.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Passion</p>
      <p>We live and breathe security and are devoted to providing the highest levels of security to our clients.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Products</p>
      <p>Our industry standard security solutions, particularly our flagship online intrusion security management product ProtectFX, are regularly recognised as the best of the best.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Support</p>
      <p>Our international support team and subscription plans provide up to 24/7 online, email and phone support. Our support SLAs guarantee that you will not be kept waiting.</p>
    </div>
  </div>
</div>

    <% include partials/scripts.ejs %>
    <% include partials/footer.ejs %>
</body>
</html>